@font-face {
  font-family: Jost regular;
  src: url(../fonts/Jostbook.ttf);
  src: url(../fonts/Jostbook.woff);
  src: url(../fonts/Jostbook.woff2);
}
@font-face {
  font-family: Jost bold;
  src: url(../fonts/Jostbold.ttf);
  src: url(../fonts/Jostbold.woff);
  src: url(../fonts/Jostbold.woff2);
}
html {
  height: 100%;
}
html a {
  text-decoration: none;
  color: #fff;
  font-family: Jost regular;
}
html h1 {
  font-family: Jost bold;
}
html p {
  font-family: Jost regular;
  font-size: 20px;
  color: #323232;
  line-height: 28px;
  margin-bottom: 30px;
}
html h2 {
  font-family: Jost bold;
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}
html b {
  font-family: Jost bold;
  font-size: 25px;
  line-height: 35px;
  color: #073B39;
}
html section {
  padding: 90px 0;
}
html h3 {
  font-family: Jost bold;
  font-size: 25px;
  line-height: 35px;
}
html h4 {
  font-size: 25px;
  font-weight: bold;
  line-height: 35px;
  margin-bottom: 15px;
}
html .form-control:focus {
  border-color: #073B39;
  box-shadow: 0 0 0 0.25rem #125856;
}
html body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Jost regular, sans-serif;
  background: #fff;
}

.button {
  padding: 13px 29px;
  color: #fff;
  border: none;
  background: #073B39;
  border-radius: 100px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  display: inline-block;
}
.button:hover {
  background: transparent;
  color: #073B39;
  border: 2px solid #073B39;
  padding: 11px 27px;
}

.form__btn {
  padding: 13px 46px;
}
.form__btn:hover {
  padding: 11px 44px;
}

.header {
  flex: 0 0 auto;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.15);
}
.header .header__top_wrapper {
  background-color: #073B39;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.15);
}
.header .header__top_wrapper .header__top {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.header .header__top_wrapper .header__top .header__top__block {
  display: flex;
  align-items: center;
}
.header .header__top_wrapper .header__top .header__top__block a {
  display: flex;
  align-items: center;
}
.header .header__top_wrapper .header__top .header__top__block a img {
  margin-right: 10px;
}
.header .header__top_wrapper .header__top .header__top__block a p {
  color: #fff;
}
.header .header__bot {
  padding: 18px 0;
}
.header .header__bot .header__bot__logo {
  padding-left: 0;
}
.header .header__bot .header__bot__menu {
  position: relative;
}
.header .header__bot .header__bot__menu ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header .header__bot .header__bot__menu ul li {
  list-style: none;
}
.header .header__bot .header__bot__menu ul li a {
  text-align: center;
  font-size: 18px;
  color: #323232;
}
.header .header__bot .header__bot__menu ul li a:hover {
  border-bottom: 2px #073B39 solid;
}
.header .header__bot .header__bot__menu ul li a:active {
  font-family: Jost bold;
}
.header .header__bot ul .header__bot__submenu {
  padding: 0;
  width: 40%;
  position: absolute;
  top: 90%;
  left: 0;
  display: flex;
  flex-direction: column;
  background: #fff;
}
.header .header__bot ul .header__bot__submenu a {
  text-decoration: none;
}
.header .header__bot ul .header__bot__submenu li {
  padding: 17px 30px;
}
.header .header__bot ul .header__bot__submenu li:hover {
  background: #073B39;
}
.header .header__bot ul .header__bot__submenu li:hover a {
  color: #fff;
  border-bottom: none;
}
.header .header__bot ul .header__bot__submenu li a {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__bot ul .header__bot__submenu li a img {
  display: block;
}
.header .header__bot__button {
  display: flex;
  justify-content: flex-end;
}
.header .header__bot__button .header_btn {
  background: #fff;
  border: 2px solid #073B39;
  color: #073B39;
}
.header .header__bot__button .header_btn:hover {
  background: #073B39;
  color: #fff;
}

.main__content {
  flex: 1 0 auto;
  padding: 0;
  margin: 0;
}

.main {
  background: url(../img/main/main-bg.jpg) top center no-repeat;
  color: #fff;
  padding: 0;
  margin: 0;
}
.main h1 {
  font-size: 45px;
  margin: 100px 0 25px 0;
  line-height: 130%;
}
.main p {
  line-height: 140%;
  width: 70%;
  margin-bottom: 35px;
  color: #fff;
}
.main .button {
  margin-bottom: 90px;
}

.advantages__block {
  display: flex;
  align-items: center;
}
.advantages__block p {
  margin-left: 30px;
  margin-bottom: 0;
}

.call {
  background: url("../img/call/call-bg.jpg") center center no-repeat;
  background-size: cover;
}
.call p {
  margin-bottom: 30px;
}
.call input {
  border: none;
  border-radius: 10px;
  padding: 18px 0 15px 30px;
}

.services__block {
  box-shadow: 2px 2px 15px -3px rgba(25, 27, 75, 0.25);
  border-radius: 15px;
  display: flex;
  height: 120px;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}
.services__block:hover {
  background: #FFF9EE;
}

.services__block__wrapper {
  position: relative;
}

.services__card {
  display: none;
  position: absolute;
  top: 95%;
  left: 0;
  padding: 30px;
  padding-bottom: 20px;
  background: #fff;
  width: 100%;
  box-shadow: 2px 2px 15px -3px rgba(25, 27, 75, 0.25);
  border-radius: 0px 0px 15px 15px;
  z-index: 5;
}
.services__card li {
  list-style: none;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.services__card li a {
  color: #323232;
  font-size: 25px;
}
.services__card li a:hover {
  color: #073B39;
  z-index: 5;
  font-family: Jost bold;
}

.service__about__title {
  background: url(../img/service/about-bg.jpg) center center no-repeat;
  padding: 90px 0;
}

.service__about__contant {
  padding: 90px 0;
}
.service__about__contant h2 {
  margin-top: 90px;
}

.services__about .services__about__wrapper {
  margin-top: 90px;
}
.services__about h3 {
  margin: 60px 0 30px 0;
}

.experts {
  background: #F2F2F2;
}
.experts img {
  box-shadow: 2px 2px 15px -3px rgba(25, 27, 75, 0.25);
  border-radius: 15px;
}
.experts h3 {
  padding: 30px 0 15px 0;
}

.diagramm {
  background: url(../img/diagramm/bg.jpg) center right no-repeat, #FFF9EE;
  background-size: contain;
}

.interaction {
  background: url("../img/interaction/bg.jpg") -3% center no-repeat, #F2F2F2;
  background-size: contain;
}
.interaction .interaction__left {
  padding-left: 55px;
}
.interaction ul {
  list-style: none;
  margin-left: 25px;
}
.interaction ul li {
  font-size: 20px;
  line-height: 32px;
  position: relative;
}
.interaction ul li::before {
  content: "";
  background: #073B39;
  width: 15px;
  height: 2px;
  display: block;
  position: absolute;
  top: 50%;
  left: -5%;
}

.slider {
  position: relative;
}
.slider .slick-prev {
  position: absolute;
  top: 50%;
  left: -5%;
}
.slider .slick-prev:hover::before {
  background: #073B39;
}
.slider .slick-prev:hover::after {
  background: #073B39;
}
.slider .slick-prev::before {
  content: "";
  width: 7px;
  height: 35px;
  background: grey;
  position: absolute;
  top: -21px;
  left: 0;
  transform: rotate(45deg);
  border-radius: 30px;
}
.slider .slick-prev::after {
  content: "";
  width: 7px;
  height: 35px;
  background: grey;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  border-radius: 30px;
}
.slider .slick-next {
  position: absolute;
  top: 50%;
  right: -5%;
}
.slider .slick-next:hover::before {
  background: #073B39;
}
.slider .slick-next:hover::after {
  background: #073B39;
}
.slider .slick-next::before {
  content: "";
  width: 7px;
  height: 35px;
  background: grey;
  position: absolute;
  top: -21px;
  left: 0;
  transform: rotate(-45deg);
  border-radius: 30px;
}
.slider .slick-next::after {
  content: "";
  width: 7px;
  height: 35px;
  background: grey;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  border-radius: 30px;
}

.about {
  padding: 0;
}
.about .about__wrapper {
  background: #FFF9EE;
  padding: 90px 0;
}

.about__block__wrapper {
  margin-bottom: 30px;
}
.about__block__wrapper .about__block {
  padding: 30px;
  height: 100%;
  box-shadow: 2px 2px 15px -3px rgba(25, 27, 75, 0.25);
  border-radius: 15px;
  background: #fff;
  margin-bottom: 30px;
}
.about__block__wrapper .about__block b {
  font-size: 40px;
  line-height: 52px;
}
.about__block__wrapper .about__block p {
  margin-top: 10px;
  margin-bottom: 0;
}

.green__wrapper {
  background: #073B39;
  border-radius: 15px;
  padding: 70px;
}
.green__wrapper p {
  color: #fff;
}
.green__wrapper li {
  list-style: none;
  position: relative;
}
.green__wrapper li::before {
  content: "";
  background: #fff;
  width: 15px;
  height: 2px;
  display: block;
  position: absolute;
  top: 15%;
  left: -10%;
}

.footer {
  background: #E5E5E5;
  flex: 0 0 auto;
  color: #323232;
  padding: 90px 0;
}
.footer .footer__btn {
  font-size: 18px;
  padding: 15px 23px;
  background: #323232;
}
.footer .footer__btn:hover {
  background: #073B39;
  color: #fff;
  padding: 13px 21px;
}
.footer p {
  margin: 0;
  line-height: 0;
  font-size: 14px;
}
.footer a {
  color: #323232;
  margin-bottom: 15px;
  font-size: 14px;
}
.footer a:hover {
  color: #073B39;
  font-family: Jost bold;
}
.footer .footer__bot {
  margin-top: 20px;
}
.footer .footer__bot img {
  margin-right: 5px;
}
.footer .footer__bot span {
  font-size: 10px;
  line-height: 14px;
  margin-bottom: 20px;
}
.footer .footer__block {
  display: flex;
  flex-direction: column;
}
.footer .footer__block .footer__social {
  display: flex;
  justify-content: flex-end;
}
.footer .footer__block .footer__social a {
  margin-left: 10px;
  text-transform: uppercase;
}

.page__nav {
  padding-top: 60px;
}

nav a {
  color: rgba(50, 50, 50, 0.5);
  position: relative;
}
nav a:first-child::before {
  display: none;
}
nav a::before {
  content: "";
  width: 20px;
  height: 2px;
  background: rgba(50, 50, 50, 0.5);
  position: absolute;
  top: 50%;
  left: -30px;
}
nav a:hover {
  color: #073B39;
}

.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.popup .popup__body {
  position: relative;
  padding: 50px;
  background-color: #fff;
  z-index: 100;
}
.popup .popup__body form {
  font-family: Jost regular;
  display: flex;
  flex-direction: column;
  color: #8F8F8F;
}
.popup .popup__body form input {
  padding: 17px 30px;
  margin-bottom: 15px;
  border: 1px solid #073B39;
}
.popup .popup__body form .checkbox {
  border: 1px solid #073B39;
  border-radius: 0%;
  padding: 100px;
}

.contacts__main .contacts__row {
  margin-bottom: 90px;
}
.contacts__main .contacts__block {
  display: flex;
  flex-direction: column;
}
.contacts__main .contacts__block span {
  font-size: 20px;
  padding-bottom: 15px;
}
.contacts__main .contacts__block a {
  color: #323232;
  padding-bottom: 15px;
}
.contacts__main .contacts__block a img {
  margin-right: 10px;
}

.contacts__form .form-control {
  margin-bottom: 15px;
  padding: 15px 30px;
}
.contacts__form button {
  margin-top: 25px;
}
.contacts__form .form__textarea {
  min-height: 265px;
  resize: none;
}

@media (max-width: 1280px) {
  .interaction {
    background: url("../img/interaction/bg.jpg") -90% center no-repeat;
    background-size: cover;
  }
}
@media (max-width: 1200px) {
  .interaction {
    background: url("../img/interaction/bg.jpg") -180% center no-repeat;
  }

  .footer h3 {
    font-size: 23px;
  }

  .footer .footer__btn__wrap {
    display: flex;
    justify-content: flex-end;
  }
  .footer .footer__block .footer__social {
    justify-content: flex-end;
  }
}
@media (max-width: 991px) {
  .header .header__top_wrapper .header__top {
    justify-content: space-around;
  }

  .header__top .header__top__block a span {
    display: none;
  }

  .header__bot__logo img {
    width: 100%;
  }

  .header__bot__menu {
    display: none;
  }

  .advantages .advantages__block {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }

  .about h3 {
    margin-bottom: 20px;
  }

  .interaction {
    background: #eee;
    background-size: contain;
  }

  .green__wrapper li::before {
    left: -10%;
  }

  .call .form-group-wrapper {
    margin-bottom: 30px;
  }

  .footer .footer__block {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__bot {
    position: relative;
  }
  .header__bot .header__bot__logo {
    display: none;
  }
  .header__bot .toggle-mnu {
    display: block;
    position: absolute;
    top: 30%;
    left: 0;
  }

  .form-group-wrapper {
    margin-bottom: 30px;
  }

  .green__wrapper li::before {
    left: -15%;
  }

  .services .services__block b {
    font-size: 16px;
    font-family: Jost regular;
  }
  .services .services__block img {
    width: 20%;
  }

  .footer__center {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer .footer__btn__wrap {
    justify-content: center;
  }
}
.justify-content-center {
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .main__content section .container {
    padding: 0px 20px;
  }

  .main h1 {
    font-size: 28px;
  }

  .interaction h2 {
    font-size: 28px;
  }
  .interaction ul li::before {
    left: -10%;
  }

  .green__wrapper p {
    font-size: 18px;
    line-height: 24px;
  }

  .footer {
    padding: 60px 0;
  }
}
@media (max-width: 320px) {
  .services .services__block {
    justify-content: center;
  }
  .services .services__block b {
    font-size: 16px;
    font-family: Jost bold;
  }
  .services .services__block img {
    display: none;
  }

  .green__wrapper p {
    font-size: 16px;
  }
}
.toggle-mnu {
  width: auto;
  display: none;
  height: 40px;
  float: left;
  cursor: pointer;
  text-align: left;
  margin-left: 15px;
  font-size: 14px;
}
.toggle-mnu:hover {
  color: #073B39;
  text-decoration: none;
}
.toggle-mnu span {
  width: 52px;
  max-width: 100%;
  height: 5px;
  background-color: #323232;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.toggle-mnu span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 52px;
  max-width: 100%;
  height: 5px;
  background-color: #323232;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.toggle-mnu span::after {
  width: 52px;
  max-width: 100%;
  height: 5px;
  background-color: #323232;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  top: 30px;
}
.toggle-mnu.on span {
  background-color: transparent;
}
.toggle-mnu.on::after {
  -webkit-transform: rotate(45deg) translate(3px, 3px);
  -ms-transform: rotate(45deg) translate(3px, 3px);
  transform: rotate(45deg) translate(3px, 3px);
  background-color: #073B39;
}
.toggle-mnu.on::before {
  -webkit-transform: rotate(-45deg) translate(8px, -8px);
  -ms-transform: rotate(-45deg) translate(8px, -8px);
  transform: rotate(-45deg) translate(8px, -8px);
  background-color: #073B39;
}